@using RickApps.USPSRateCalculator.Interfaces
@using RickApps.USPSRateCalculator.Models
@model IEnumerable<IParcelRate>

@{
    ViewBag.Title = "ShowResults";
}

<h2>ShowResults</h2>
<!-- Packages -->
<ul>
    @foreach (ParcelRates package in Model)
    {
        <li>
            @Html.DisplayFor(p => package.ID)
            @Html.DisplayFor(p => package.ContainerType)
            <!-- Classes -->
            <ul>
                @foreach (Postage postage in package.RateCollection)
                {
                    <p>@string.Format("Postage for {0}: {1:C}", postage.Service, postage.Rate)</p>
                    <p>If desired, the following additional services might be available to be added:</p>
                    
                    foreach (SpecialService service in postage.Services)
                    {
                        <!-- TODO: Check service.Available to see if the service is valid -->
                        <li>@string.Format("{0}: {1:C}", service.Name, service.Rate)</li>
                    }
                }
            </ul>
        </li>
    }
</ul>